<template>
    <div class="flex flex-col justify-around bg-fixed bg-cover bg-cover-image bg-center min-h-screen p-6 text-gray-500">
        <div class="flex flex-col relative">
            <div class="block flex-grow">
                <div class="flex justify-center">
                    <div class="self-center">
                        <router-link :to="{name: 'home'}" class="flex justify-center items-center pb-10">
                            <img src="/images/SBLogoInverted.png" width="250" height="250">
                        </router-link>
                        <div class="flex justify-center lg:text-5xl md:text-4xl text-3xl flex-wrap">
                            <router-link :to="{name: 'about'}" class="hover:text-white pl-4 pr-4 pb-2">
                                About
                            </router-link>
                            <span class="text-gray-500 hidden md:block">&bull;</span>
                            <router-link :to="{name: 'projects'}" class="hover:text-white pl-4 pr-4">
                                Projects
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6">
            <div class="flex justify-center pb-2">
                <a href="https://gitlab.com/seth.ballance" class="px-2">
                    <i class="fa fa-gitlab fa-2x hover:text-gray-300" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/sballance" class="px-2">
                    <i class="fa fa-github fa-2x hover:text-gray-300" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/seth12thman/?hl=en" class="px-2">
                    <i class="fa fa-instagram fa-2x hover:text-gray-300" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex justify-center flex-wrap">
                <a href="mailto:bruce.wayne.the.hacker@gmail.com" class="px-2 hover:text-gray-300 pb-2 truncate">bruce.wayne.the.hacker@gmail.com</a>
                <span class="hidden md:block">&bull;</span>
                <a href="mailto:seth.ballance@wallawalla.edu" class="px-2 hover:text-gray-300 truncate">seth.ballance@wallawalla.edu</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
