<template>
    <div>
        <navbar></navbar>
        <div class="container py-12 px-8">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: {}
            }
        },
        mounted() {
            // this.getAuthUser();
        },
        methods: {
            getAuthUser() {
                window.axios.get('/authenticated-user').then(user => {
                    window.user = user.data;
                });
            }
        }
    }
</script>
