<template>
    <div v-if="loading">
        <div class="rounded-full border-4 border-gray-300 h-8 w-8"></div>
        <div class="absolute rounded-full border-4 border-gray-600 h-8 w-8 quarter-border"></div>
    </div>
</template>

<script>
    export default {
        props: {
            loading: {
                type: Boolean,
                default: true
            }
        }
    }
</script>

<style scoped>
    .quarter-border {
        border-color: #9e9e9e transparent transparent transparent;
        animation: rotate 0.5s linear infinite;
    }

    @keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
</style>
