<template>
    <nav class="flex sm:flex-row flex-col px-8 py-4 bg-horizontal-gradient-gray-900-gray-600">
        <div class="flex justify-between flex-grow">
            <div class="flex" :class="{'mb-4 sm:mb-0' : !collapsed}">
                <router-link :to="{name: 'home'}" class="flex items-center flex-grow text-white mr-8 hover:text-black">
                    <img src="/images/SBLogoInverted.png" width="30" height="30" class="mr-3">
                    <span class="font-semibold text-xl">Seth Ballance</span>
                </router-link>
            </div>
            <div class="items-center sm:hidden">
                <div class="cursor-pointer flex items-center px-3 py-2 border rounded text-white border-white hover:text-black hover:border-black" @click="collapsed = !collapsed">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </div>
            </div>
        </div>
        <div class="sm:flex sm:items-center sm:w-auto" :class="{'hidden' : collapsed}">
            <div class="sm:flex-grow items-center flex">
                <router-link v-for="(navlink, key) in navlinks"
                             :key="key"
                             :to="navlink"
                             class="text-white hover:text-black capitalize no-underline" :class="{'mr-4' : key+1 < navlinks.length}"
                             active-class="text-lg font-medium border-b-2 border-white hover:border-black"
                             v-text="navlink.name">
                </router-link>
            </div>
        </div>
    </nav>
</template>
<script>
    export default {
        data() {
            return {
                collapsed: true,
                navlinks: [
                    {name: 'about'},
                    {name: 'projects'}
                ]
            }
        },
        created() {
            this.$root.updateSignedIn();
            if (this.$root.$data.isSignedIn) {
                this.navlinks.push({name: 'token'});
            } else {
                this.navlinks.push({name: 'login'});
            }
        }
    }
</script>
