<template>
    <container>
        <Loader class="flex justify-center m-10" :loading="loading" v-if="loading"/>
        <div v-else class="rounded overflow-hidden shadow-lg bg-white">
            <div class="px-6 py-4">
                <p class="font-bold text-xl mb-2">
                    This is the token currently in use. Anyone with this token can make admin changes to this site.
                </p>
                <div class="relative">
                    <div @click="copyToken" class="absolute h-full flex items-center right-0 pr-2 cursor-pointer">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
                        </svg>
                    </div>
                    <input id="tokenHash" class="bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 pl-4 pr-10 block w-full appearance-none leading-normal" :value="tokenHash">
                </div>
            </div>
        </div>
    </container>
</template>

<script>
    import Loader from '../../loader';

    export default {
        components: {
            Loader
        },
        data() {
            return {
                tokenHash: '',
                loading: true
            };
        },
        created() {
            this.getHash();
        },
        methods: {
            getHash() {
                window.axios.get('/api/auth/token').then(token => {
                    this.tokenHash = token.data;
                    this.loading = false;
                });
            },
            copyToken() {
                let hashInput = document.querySelector('#tokenHash');
                hashInput.select();
                document.execCommand('copy');
                alert('Token copied to clipboard');
            }
        }
    }
</script>
