<template>
    <container>
        <div>
            <div class="rounded overflow-hidden shadow-lg bg-white">
                <div class="px-6 py-4">
                    <p class="font-bold text-xl mb-2">
                        Enter the secret token to gain admin access.
                    </p>

                    <input id="tokenHash" class="bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" placeholder="token">

                    <button @click="login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </container>
</template>

<script>
    export default {
        data() {
            return {

            };
        },
        methods: {
            login() {
                let token = document.querySelector('#tokenHash').value;
                window.axios.post('/api/auth/token', {
                    tokenHash: token
                }).then(() => {
                    this.$router.push('token');
                }).catch(message => {
                    alert(message.response.status + ': ' + message.response.data.error);
                });
            }
        }
    }
</script>
