<template>
    <div>
        <div class="rounded overflow-hidden shadow-lg bg-white">
            <img v-show="showImage" class="w-full object-cover" height="800" width="1200" :src="image" @load="imageLoaded()">
            <img v-show="!showImage" class="w-full object-cover" height="800" width="1200" src="/images/projects/default.jpg">
            <div class="px-6 py-4 h-40 overflow-hidden relative">
                <div @click="showProject(project.id)" class="font-bold text-xl mb-2 cursor-pointer hover:text-gray-800" v-text="project.title"></div>
                <div class="text-gray-700h-24">
                    {{ project.description }}
                </div>
                <div class="absolute bottom-0 right-0 left-0 h-12 bg-vertical-gradient-transparent-white"></div>
            </div>
            <div class="px-6 py-2 flex">
                <a :href="project.project_link" class="text-blue-500 hover:text-blue-700 h-6 truncate" target="_blank" v-text="project.project_link"></a>
            </div>
            <div v-if="project.tags && project.tags.length > 0" class="px-6 py-2">
                <span v-for="tag in project.tags" :key="tag.id" class="inline-block bg-gray-300 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 mr-2 last:mr-0 mb-2">#{{ tag.name }}</span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['project'],
        data() {
            return {
                image: `/images/projects/${this.project.id}.jpg`,
                showImage: false
            }
        },
        methods: {
            showProject(id) {
                this.$router.push({name: 'project', params: {project_id: id}});
            },
            imageLoaded() {
                this.showImage = true;
            }
        }
    }
</script>
