<template>
    <container>
        <ProjectForm
            :project="project"
            :errors="errors"
            :sTags="selectedTags"
            :aTags="availableTags"
            :loading="loading"
            @updateProject="project = project"
            @updateSelectedTags="selectedTags = selectedTags"
            @updateAvailableTags="availableTags = availableTags"
            @submitProject="createProject"
        >
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                Create
            </button>
            <router-link :to="{name: 'projects'}" class="bg-gray-200 font-bold hover:bg-gray-300 px-4 py-2 rounded text-gray-700">
                Cancel
            </router-link>
        </ProjectForm>
    </container>
</template>
<script>
    import ProjectForm from './form';

    export default {
        components: {
            ProjectForm
        },
        data() {
            return{
                project: {
                    title: '',
                    description: '',
                    project_link: '',
                    project_image: null
                },
                availableTags: [],
                selectedTags: [],
                errors: {},
                loading: true
            }
        },
        mounted() {
            this.getTags();
        },
        methods: {
            getTags() {
                window.axios.get('/api/tag/getAll').then(tags => {
                    this.availableTags = tags.data;
                    this.loading = false;
                });
            },
            createProject() {
                window.axios.post('/api/project', {
                    title: this.project.title,
                    description: this.project.description,
                    project_link: this.project.project_link,
                    tags: this.selectedTagIds
                }).then(response => {
                    this.uploadImage(response.data);
                }).catch(response => {
                    this.errors = response.response.data.errors;
                })
            },
            uploadImage(projectId) {
                const form = new FormData();
                form.append('project_image', this.project.project_image);

                window.axios.post(`/api/project/image/${projectId}`, form
                ).then(response => {
                    this.$router.push({ name: 'project', params: { project_id: projectId }})
                }).catch(response => {
                    this.errors = response.response.data.errors;
                })
            }
        },
        computed: {
            selectedTagIds() {
                return this.selectedTags.map(tag => tag.id)
            }
        }
    }
</script>
