<template>
    <container>
        <ProjectForm
            :project="project"
            :errors="errors"
            :sTags="selectedTags"
            :aTags="availableTags"
            :loading="loading"
            @updateProject="project = project"
            @updateSelectedTags="selectedTags = selectedTags"
            @updateAvailableTags="availableTags = availableTags"
            @submitProject="updateProject"
        >
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                Save
            </button>
            <router-link :to="{name: 'project', params: { project_id: this.$route.params.project_id }}" class="bg-gray-200 font-bold hover:bg-gray-300 px-4 py-2 rounded text-gray-700">
                Cancel
            </router-link>
        </ProjectForm>
    </container>
</template>
<script>
    import ProjectForm from './form';

    export default {
        components: {
            ProjectForm
        },
        data() {
            return{
                project: {
                    title: '',
                    description: '',
                    project_link: '',
                    project_image: null
                },
                availableTags: [],
                selectedTags: [],
                errors: {},
                loading: true
            }
        },
        mounted() {
            this.getProject();
        },
        methods: {
            getTags() {
                window.axios.get('/api/tag/getAll').then(tags => {
                    let allTags = tags.data.map(tag => {
                        return {
                            id: tag.id,
                            name: tag.name
                        }
                    });

                    this.availableTags = allTags.filter(tag => !this.selectedTagIds.includes(tag.id));
                    this.loading = false;
                });
            },
            getProject() {
                window.axios.get(`/api/project/${this.$route.params.project_id}`)
                    .then(project => {
                        this.project = project.data;
                        this.selectedTags = project.data.tags.map(tag => {
                            return {
                                id: tag.id,
                                name: tag.name
                            }
                        });
                        this.getTags();
                    });
            },
            updateProject() {
                window.axios.put(`/api/project/${this.$route.params.project_id}`, {
                    title: this.project.title,
                    description: this.project.description,
                    project_link: this.project.project_link,
                    tags: this.selectedTagIds
                }).then(response => {
                    this.uploadImage(this.$route.params.project_id);
                }).catch(response => {
                    this.errors = response.response.data.errors;
                })
            },
            uploadImage(projectId) {
                const form = new FormData();
                form.append('project_image', this.project.project_image);

                window.axios.post(`/api/project/image/${projectId}`, form
                ).then(response => {
                    this.$router.push({ name: 'project', params: { project_id: this.$route.params.project_id }})
                }).catch(response => {
                    this.errors = response.response.data.errors;
                })
            }
        },
        computed: {
            selectedTagIds() {
                return this.selectedTags.map(tag => tag.id)
            }
        }
    }
</script>
