<template>
    <div>
        <Loader class="flex justify-center m-10" :loading="loading" v-if="loading"/>
        <div v-else class="flex justify-center">
            <form @submit.prevent="submit" class="shadow-lg w-full max-w-md bg-white rounded p-8">
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="title">
                        Title
                    </label>
                    <input v-model="project.title" class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight" id="title" type="text">
                    <template v-if="errors.title">
                        <p v-for="(error, index) in errors.title" :key="index" class="text-red-500 text-xs italic" v-text="error"></p>
                    </template>
                </div>
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description">
                        Description
                    </label>
                    <textarea v-model="project.description" rows="5" class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight" id="description"></textarea>
                    <template v-if="errors.description">
                        <p v-for="(error, index) in errors.description" :key="index" class="text-red-500 text-xs italic" v-text="error"></p>
                    </template>
                </div>
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="project_image">
                        Image
                    </label>
                    <input @change="addImage" class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight" id="project_image" type="file">
                    <p class="text-gray-600 text-xs italic">Include an image for the project. Only jpg allowed.</p>
                    <template v-if="errors.project_image">
                        <p v-for="(error, index) in errors.project_image" :key="index" class="text-red-500 text-xs italic" v-text="error"></p>
                    </template>
                </div>
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="project_link">
                        Project Link
                    </label>
                    <input v-model="project.project_link" class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight" id="project_link" type="url" placeholder="https://google.com">
                    <p class="text-gray-600 text-xs italic">Include the url of the project or information about the project.</p>
                    <template v-if="errors.project_link">
                        <p v-for="(error, index) in errors.project_link" :key="index" class="text-red-500 text-xs italic" v-text="error"></p>
                    </template>
                </div>

                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="tags">
                        Tags
                    </label>
                    <div class="flex flex-wrap">
                        <div v-for="tag in selectedTags" :key="tag.id" class="flex items-center bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-1">
                            #{{ tag.name }}
                            <i class="fa fa-times-circle text-lg ml-1 cursor-pointer" @click="deselectTag(tag)"></i>
                        </div>
                    </div>
                    <select multiple class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight" id="tags" type="url" placeholder="https://google.com">
                        <option v-for="tag in availableTags" :key="tag.id" :value="tag.id" v-text="tag.name" @click="selectTag(tag)"></option>
                    </select>
                    <p class="text-gray-600 text-xs italic">Select all tags related to the project.</p>
                </div>
                <div class="flex items-center justify-between text-sm">
                    <slot></slot>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import Loader from '../../loader';

    export default {
        components: {
            Loader
        },
        props: {
            project: {
                type: Object,
                default: () => {
                    return {
                        title: '',
                        description: '',
                        project_link: '',
                        project_image: null
                    }
                }
            },
            sTags: {
                type: Array
            },
            aTags: {
                type: Array
            },
            errors: {
                type: Object
            },
            loading: {
                type: Boolean,
                default: true
            }
        },
        methods: {
            addImage(event) {
                this.project.project_image = event.target.files[0];
            },
            selectTag(tag) {
                this.selectedTags.push(tag);

                let index = this.availableTags.indexOf(tag);
                if (index !== -1) this.availableTags.splice(index, 1);
            },
            deselectTag(tag) {
                this.availableTags.push(tag);

                var index = this.selectedTags.indexOf(tag);
                if (index !== -1) this.selectedTags.splice(index, 1);
            },
            submit() {
                this.$emit('submitProject');
            }
        },
        computed: {
            selectedTags() {
                return this.sTags;
            },
            availableTags() {
                return this.aTags;
            }
        },
        watch: {
            project: {
                handler(val) {
                    this.$emit('updateProject', {
                        title: val.title,
                        description: val.description,
                        project_link: val.project_link,
                        project_image: val.project_image
                    });
                },
                deep: true
            },
            sTags: {
                handler() {
                    this.$emit('updateSelectedTags', this.selectedTags);
                },
                deep: true
            },
            aTags: {
                handler() {
                    this.$emit('updateAvailableTags', this.availableTags);
                },
                deep: true
            }
        }
    }
</script>
