<template>
    <container>
        <div class="flex justify-center mb-8">
            <router-link v-if="showButton" :to="{name: 'createProject'}" tag="button" class="bg-blue-500 hover:bg-blue-700 text-3xl text-white font-bold py-4 px-6 rounded">Add Project</router-link>
        </div>
        <Loader class="flex justify-center m-10" :loading="loading" v-if="loading"/>
        <div v-else class="flex flex-wrap justify-between -m-4">
            <project-card v-for="project in projects" :project="project" :key="project.id" class="p-4 w-full sm:w-full md:w-1/2 lg:w-1/3"></project-card>
        </div>
    </container>
</template>
<script>
    import ProjectCard from './card';
    import Loader from '../../loader';

    export default {
        components: {
            ProjectCard,
            Loader
        },
        data() {
            return{
                projects: [],
                loading: true
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                window.axios.get('/api/project/getAll').then(projects => {
                    this.projects = projects.data;
                    this.loading = false;
                });
            }
        },
        computed: {
            showButton() {
                return this.$root.$data.isSignedIn;
            }
        }
    }
</script>
