<template>
    <container>
        <Loader class="flex justify-center m-10" :loading="loading" v-if="loading"/>
        <div v-else>
            <h1 class="font-bold text-3xl mb-8" v-text="project.title"></h1>
            <img v-show="showImage" class="w-full rounded-lg mb-12" height="800" width="1200" :src="image" @load="imageLoaded()">
            <div>
                <p class="mb-10" v-text="project.description"></p>
                <a v-if="project.project_link" :href="project.project_link" class="block truncate text-blue-500 hover:text-blue-700" target="_blank" v-text="project.project_link"></a>
                <div class="mt-4" v-if="project.tags && project.tags.length > 0">
                    <span v-for="tag in project.tags" :key="tag.id" class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ tag.name }}</span>
                </div>
            </div>

            <div class="flex mt-8">
                <router-link :to="{ name: 'editProject', params: { project_id: $route.params.project_id }}" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Edit</router-link>
            </div>
        </div>
    </container>
</template>
<script>
    import Loader from '../../loader';

    export default {
        components: {
            Loader
        },
        data() {
            return{
                project: {},
                loading: true,
                image: `/images/projects/${this.$route.params.project_id}.jpg`,
                showImage: false
            }
        },
        mounted() {
            this.getProject();
        },
        methods: {
            getProject() {
                window.axios.get(`/api/project/${this.$route.params.project_id}`).then(project => {
                    this.project = project.data;
                    this.loading = false
                });
            },
            imageLoaded() {
                this.showImage = true;
            }
        }
    }

</script>
